@media (min-width: 1200px) {
  .container {
    width: 960px;
  }

  .offer-description {
    width: 720px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #405d78;
    padding: 10% 0 7.5%;
    gap: 63px 63px;
  }

  .grid-item {
    width: 198px;
    height: 198px;
  }
}
