html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

h1, h2 {
  font-weight: bold;
}

a {
  color: #fff;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.blocked {
  cursor: not-allowed;
}

.about, .offer {
  padding: 50px 0;
}

a:link {
  text-decoration: none;
}

/* NAVIGATION START */

nav {
  position: fixed;
  width: 100%;
  background-color: #4e4e4e;
}

nav .container, footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

nav a {
  color: #f1f1f1;
}

.nav-logo {
  color: #FFF;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 26%;
}

.nav-links a:last-of-type {
  margin: 0;
}

/* NAVIGATION END */

/* LANDING PAGE START */

.landing-page {
  height: 100vh;
  background-image: url("../img/beach.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.landing-page-shadow {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.landing-page-shadow .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 38%;
  align-items: flex-start;
}

.landing-page h1,
.landing-page p {
  width: 60%;
}

.landing-page-btn {
  border: 3px solid #fff;
  padding: 8px 30px;
  transition: 1s all;
}

.landing-page-btn:hover {
  background-color: #fff;
  color: #000000;
}

/* LANDING PAGE END */

/* ABOUT SECTION START */

.about {
  background-color: #f1f1f1;
  padding: 2.5% 0 2.5%;
}

.about h1 {
  color: #152d41;
}

.about-employee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
}

.about-employee:last-of-type {
  margin-bottom: 0;
}

.about-employee:nth-of-type(even) {
  flex-direction: row-reverse;
}

.about-employee:nth-of-type(even) .about-employee-desc {
  text-align: right;
}

.about-employee-pic {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.about-employee-pic--0 {
    background-image: url("../img/photo0.jpg");
}

.about-employee-pic--1 {
    background-image: url("../img/photo1.jpg");
}

.about-employee-pic--2 {
    background-image: url("../img/photo2.jpg");
}

.about-employee-pic--3 {
    background-image: url("../img/photo3.jpg");
}

.about-employee-desc {
  width: calc(100% - 260px);
}

.about-employee-desc h2 {
  margin-bottom: 10px;
}

.about .about-employee:first-of-type {
  padding: 7.3% 0 0 0;
}

/* ABOUT SECTION END */

/* OFFER SECTION START */

.offer {
  background-color: #405d78;
  padding: 2.5% 0 2.5% 0;
}

.offer h1 {
  color: #fff;
}

.offer h3 {
  font-size: 24px;
}

.offer-description {
  width: 720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #405d78;
  padding: 10% 0 7.5%;
  gap: 63px 63px;
}

.offer-boxes-item-dot {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.grid-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 198px;
  height: 198px;
  background-color: #f1f1f1;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  position: relative
}

.grid-item p {
    font-size: 18px;
    color: #000000;
}

.grid-item:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

/* OFFER SECTION END */

/* FOOTER START */

footer {
  width: 100%;
  background-color: #4e4e4e;
}

footer p {
  color: #FFF;
  font-size: 18px;
}

.footer-links {
  color: #FFF;
}

.footer-links i{
  margin-left: 25.75px;
} 

/* FOOTER END */